[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-assets = "*"
authlib = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.9"
